<!-- prettier-ignore -->
{% extends "layout/base.html" %}

{% block body %}
<header>
  {% include "include/navbar.html" %}
  <h1>Dag Runs</h1>
</header>

<main>
  {% include "include/system.html" %}

  <!-- Dag Run table -->
  <table>
    <thead>
      <tr>
        <th>Dag ID</th>
        <th>Execution Date</th>
        <th>State</th>
        <th>Run ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Tasks</th>
      </tr>
    </thead>
    <tbody>
      {% for dag_run in dag_runs %}
      <tr id="row_{{ dag_run.run_id }}">
        <td>{{ dag_run.dag_id }}</td>
        <td>{{ dag_run.execution_date }}</td>
        {% if let Some(state) = dag_run.state %}
        <td>{{ state }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ dag_run.run_id }}</td>
        {% if let Some(start_date) = dag_run.start_date %}
        <td>{{ start_date }}</td>
        {% else %}
        <td></td>
        {% endif %} {% if let Some(end_date) = dag_run.end_date %}
        <td>{{ end_date }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td><a href="/tasks/{{ dag_run.run_id }}">Dag Runs</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
