{% extends "layout/base.html" %}
{% block body %}
  <header>
    <!-- Nav Bar -->
    {% include "include/navbar.html" %}

    <!-- Page Title Bar -->
    {% let title = "Dag Runs" %}
    {% include "include/title.html" %}
  </header>
  <main>
    <!-- System Stats -->
    <div class="animate-fade">
      {% include "include/system.html" %}
    </div>

    <!-- Dag Run table -->
    <table class="table table-zebra table-sm animate-fade">
      <thead>
        <tr>
          <th>Dag ID</th>
          <th>Execution Date</th>
          <th>State</th>
          <th>Run ID</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody class="animate-fade-up">
        {% for dag_run in dag_runs %}
          <tr
            id="row_{{ dag_run.run_id }}"
            class="hover:bg-base-300 cursor-pointer"
            onclick="window.location='/tasks/{{ dag_run.run_id }}';"
          >
            <td>{{ dag_run.dag_id }}</td>
            <td>{{ dag_run.execution_date }}</td>

            <!-- Dag State Matching -->
            {% match dag_run.state %}
              {% when Some(DagState::Failed) %}
                <td class="badge badge-error">failed</td>
              {% when Some(DagState::Queued) %}
                <td class="badge badge-neutral">queued</td>
              {% when Some(DagState::Running) %}
                <td class="badge badge-primary">running</td>
              {% when Some(DagState::Success) %}
                <td class="badge badge-success">success</td>
              {% when None %}
                <td></td>
            {% endmatch %}

            <td>{{ dag_run.run_id }}</td>

            <!-- Start Date -->
            {% if let Some(start_date) = dag_run.start_date %}
              <td>{{ start_date }}</td>
            {% else %}
              <td></td>
            {% endif %}

            <!-- End Date -->
            {% if let Some(end_date) = dag_run.end_date %}
              <td>{{ end_date }}</td>
            {% else %}
              <td></td>
            {% endif %}

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
