{% extends "layout/base.html" %}
{% block body %}
  <header>
    <!-- Nav Bar -->
    {% include "include/navbar.html" %}

    <!-- Page Title Bar -->
    {% let title = "Logs" %}
    {% include "include/title.html" %}
  </header>
  <main>
    <!-- System Stats -->
    {% include "include/system.html" %}

    <!-- Dag Run Stats -->
    {% include "include/dag_run.html" %}

    <!-- Task Stats -->
    <div class="animate-fade">
      {% include "include/task.html" %}
    </div>

    <!-- Logs -->
    {{ log|safe }}
  </main>
{% endblock %}
