{% extends "layout/base.html" %}
{% block body %}
  <header>
    <!-- Nav Bar -->
    {% include "include/navbar.html" %}

    <!-- Page Title Bar -->
    {% let title = "Tasks" %}
    {% include "include/title.html" %}
  </header>
  <main>
    <!-- System Stats -->
    {% include "include/system.html" %}

    <!-- Dag Run Stats -->
    <div class="animate-fade">
      {% include "include/dag_run.html" %}
    </div>

    <!-- Task table -->
    <table class="table table-zebra table-sm animate-fade">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>State</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Attempts</th>
        </tr>
      </thead>
      <tbody class="animate-fade-up">
        {% for task in tasks %}

          <!-- Should the row link to the logs? -->
          {% if let Some(try_number) = task.try_number %}
            {% if *try_number > 0 %}
              <tr
                id="row_{{ task.task_id }}"
                class="hover:bg-base-300 cursor-pointer"
                onclick="window.location='/logs/{{ task.run_id }}/{{ task.task_id }}';"
              >
            {% else %}
              <tr id="row_{{ task.task_id }}" class="hover:bg-base-300">
            {% endif %}
          {% else %}
            <tr id="row_{{ task.task_id }}" class="hover:bg-base-300">
          {% endif %}

          <!-- Task ID -->
          <td>{{ task.task_id }}</td>

          <!-- Handle all the Task States -->
          {% match task.state %}
            {% when Some(TaskState::Deferred) %}
              <td class="badge badge-info">deferred</td>
            {% when Some(TaskState::Failed) %}
              <td class="badge badge-error">failed</td>
            {% when Some(TaskState::Queued) %}
              <td class="badge badge-neutral">queued</td>
            {% when Some(TaskState::Removed) %}
              <td class="badge badge-neutral">removed</td>
            {% when Some(TaskState::Restarting) %}
              <td class="badge badge-secondary">restarting</td>
            {% when Some(TaskState::Running) %}
              <td class="badge badge-primary">running</td>
            {% when Some(TaskState::Scheduled) %}
              <td class="badge badge-neutral">scheduled</td>
            {% when Some(TaskState::Skipped) %}
              <td class="badge badge-neutral">skipped</td>
            {% when Some(TaskState::Success) %}
              <td class="badge badge-success">success</td>
            {% when Some(TaskState::UpForReschedule) %}
              <td class="badge badge-warning">up_for_reschedule</td>
            {% when Some(TaskState::UpForRetry) %}
              <td class="badge badge-warning">up_for_retry</td>
            {% when Some(TaskState::UpstreamFailed) %}
              <td class="badge badge-warning">upstream_failed</td>
            {% when None %}
              <td></td>
          {% endmatch %}

          <!-- Starwt Date -->
          {% if let Some(start_date) = task.start_date %}
            <td>{{ start_date }}</td>
          {% else %}
            <td></td>
          {% endif %}

          <!-- End Date -->
          {% if let Some(end_date) = task.end_date %}
            <td>{{ end_date }}</td>
          {% else %}
            <td></td>
          {% endif %}

          <!-- List out Try Number if we have it an > 0  -->
          {% if let Some(try_number) = task.try_number %}
            {% if *try_number > 0 %}
              <td class="text-center">{{ try_number }}</td>
            {% else %}
              <td></td>
            {% endif %}
          {% else %}
            <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </main>
{% endblock %}
