<!-- prettier-ignore -->
{% extends "layout/base.html" %}

{% block body %}
<header>
  {% include "include/navbar.html" %}
  <h1>Tasks</h1>
</header>

<main>
  {% include "include/system.html" %} {% include "include/dag_run.html" %}

  <!-- Task table -->
  <table>
    <thead>
      <tr>
        <th>Task ID</th>
        <th>State</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Attempts</th>
        <th>Logs</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr id="row_{{ task.task_id }}">
        <td>{{ task.task_id }}</td>
        {% if let Some(state) = task.state %}
        <td>{{ state }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <!-- prettier-ignore -->
        {% if let Some(start_date) = task.start_date %}
        <td>{{ start_date }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <!-- prettier-ignore -->
        {% if let Some(end_date) = task.end_date %}
        <td>{{ end_date }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <!-- prettier-ignore -->
        {% if let Some(try_number) = task.try_number %}
        {% if *try_number > 0 %}
        <td>{{ try_number }}</td>
        <td><a href="/logs/{{ task.run_id }}/{{ task.task_id }}">Logs</a></td>
        {% endif %} {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
