<!-- Task Details -->
<div class="stats shadow">
    <div class="stat">
        <div class="stat-title">Task ID</div>
        <div class="stat-value">{{ task.task_id }}</div>
        <div class="stat-desc">
            {% if let Some(start_date) = dag_run.start_date %}
              Start Date: {{ start_date }};
            {% endif %}
            {% if let Some(end_date) = dag_run.end_date %}
              End Date: {{ end_date }}
            {% endif %}
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">State</div>

        <!-- Task State Matching -->
        {% match task.state %}
            {% when Some(TaskState::Deferred) %}
                <div class="stat-value badge badge-xl badge-info">deferred</div>
            {% when Some(TaskState::Failed) %}
                <div class="stat-value badge badge-xl badge-error">failed</div>
            {% when Some(TaskState::Queued) %}
                <div class="stat-value badge badge-xl badge-neutral">queued</div>
            {% when Some(TaskState::Removed) %}
                <div class="stat-value badge badge-xl badge-neutral">removed</div>
            {% when Some(TaskState::Restarting) %}
                <div class="stat-value badge badge-xl badge-secondary">restarting</div>
            {% when Some(TaskState::Running) %}
                <div class="stat-value badge badge-xl badge-primary">running</div>
            {% when Some(TaskState::Scheduled) %}
                <div class="stat-value badge badge-xl badge-neutral">scheduled</div>
            {% when Some(TaskState::Skipped) %}
                <div class="stat-value badge badge-xl badge-neutral">skipped</div>
            {% when Some(TaskState::Success) %}
                <div class="stat-value badge badge-xl badge-success">success</div>
            {% when Some(TaskState::UpForReschedule) %}
                <div class="stat-value badge badge-xl badge-warning">up_for_reschedule</div>
            {% when Some(TaskState::UpForRetry) %}
                <div class="stat-value badge badge-xl badge-warning">up_for_retry</div>
            {% when Some(TaskState::UpstreamFailed) %}
                <div class="stat-value badge badge-xl badge-warning">upstream_failed</div>
            {% when None %}
        {% endmatch %}
    </div>
    <div class="stat">
      <div class="stat-title">Attempts</div>

      <!-- Try Number -->
      {% if let Some(try_number) = task.try_number %}
        <div class="stat-value">{{ try_number }}</div>
      {% endif %}

    </div>
</div>
