{% for system in systems %}
<tr id="row_{{ system.system_id }}">
  <td>{{ system.client_name }}</td>
  <td>{{ system.client_id }}</td>
  <td>{{ system.system_name }}</td>
  <td>{{ system.system_id }}</td>
  <td>{{ system.team_name }}</td>
  <td>{{ system.team_id }}</td>
  <td>{{ system.latest_run }}</td>
  <td>{{ system.number_of_dag_runs }}</td>
</tr>
{% endfor %}

<!-- prettier-ignore -->
{% if let Some(next_page) = next_page %}
<!-- Pagination Placeholder -->
<tr
  id="search_pagination"
  hx-get="/component/search_systems?search_by={{ search_by }}&page={{ next_page }}"
  hx-trigger="revealed"
  hx-swap="outerHTML"
  hx-target="#search_pagination"
></tr>
{% endif %}
