<!doctype html>
<html lang="en-US">
  <head>
    <title>／人◕ ‿‿ ◕人＼</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Inspect Airflow Systems and Dag Runs" />
    <meta name="keywords" content="Airflow, Dag Runs, Kyubey, Logs, Search" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script defer src="/assets/scripts/htmx.js"></script>
  </head>
  <body>
    {% block body %}Page content should go here.{% endblock %}
  </body>
</html>
